@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;

body {
	@apply font-[Outfit] bg-black bg-gradient-radial from-gray-950 to-black dark:from-gray-900 dark:to-gray-950 text-black dark:text-white duration-300;
}

* {
	@apply transition-all;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2f7dc673;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2f7dc6aa;
}

@tailwind components;
@tailwind utilities;
